.header {
  border: 1px solid;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 2rem;
  }
}

.input-container {
  border: 1px solid;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  height: 150px;
}

.input {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__element {
    width: 40%;
    height: 25px;
    padding: 0 10px;
    font-size: 1.2rem;
  }
}

.text {
  height: 50%;
  text-align: center;

  &__element {
    margin: 0;
    font-size: 2.3rem;
    color: rebeccapurple;
  }
}

<<<<<<< HEAD
.stuff {
  border: 1px solid;
  display: flex;
  margin-top: 30px;
  align-items: center;
}

.watch {
  border: 1px solid;
  height: 200px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__time {
=======
.watchContainer, .card-container {
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  margin-top: 40px;
  p{
>>>>>>> origin
    margin: 0;
    font-size: 4.5rem;
  }
}

.card-container {
<<<<<<< HEAD
  border: 1px solid;
  height: 200px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__card {
    border: 1px solid;
    height: 150px;
    width: 120px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  &__image {
    height: 75px;
    width: 90px;
    height: 90px;
  }
}
=======
  &__card{
    border: 1px solid black;
    height: 150px;
    width: 200px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-size: 20px;
  }
  &__image {
    height: 75px;
    border: 1px solid black;
  }
}

.stuff {
  width: 100%;
  border: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
>>>>>>> origin
